In [276]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [277]:
# Specify the path to your CSV file
csv_file_path = "gs://capstondata/accounts.csv"

# Read the CSV file into a DataFrame with inferred schema
df = spark.read.csv(csv_file_path, header=True, inferSchema=True)

# Show the contents of the DataFrame
df.show()

+-----------+----------+-----------+-----------+----------------+---------+---------------+
|  AccountId|CustomerID|AccountType|    Balance|last_kyc_updated|branch_id|account_created|
+-----------+----------+-----------+-----------+----------------+---------+---------------+
|BUS-1990298|3GFT1ZDW4G|   Business|30342570.25|      10/30/2022| BR-00015|      1/29/2006|
|SAV-5186099|VRWR0O400I|    Savings|41896208.43|        6/4/2022| BR-00133|      8/21/2008|
|CUR-9367339|D55UJI8WV0|    Current|32272303.31|       6/18/2021| BR-00001|     10/20/1998|
|SAV-4887415|53CR23T46S|    Savings|72880621.93|        3/9/2020| BR-00004|     11/15/2012|
|SAV-1692074|HZDGV2JYU1|    Savings|29188271.76|       5/28/2021| BR-00099|     10/11/2020|
|BUS-7665995|MSUHT18DWD|   Business|24902534.91|      10/15/2019| BR-00011|      7/23/1999|
|CUR-8976663|VE674KTE1E|    Current|59816713.45|       7/15/2020| BR-00187|      2/26/2016|
|BUS-2814494|BVZA30CZ4F|   Business| 92399809.3|       1/15/2021| BR-00194|      11/2/2013|
|CUR-7652188|8QI53UAIB3|    Current|  867487.31|      11/28/2020| BR-00194|      6/13/2018|
|BUS-8906991|RKRBYY4RQG|   Business|46569638.61|       5/11/2022| BR-00114|      12/9/2009|
|BUS-7894402|IEQTETRWMF|   Business|39918507.62|        1/7/2020| BR-00104|      8/10/2017|
|BUS-6123351|EEZOSGWNKW|   Business|43172890.92|        1/2/2019| BR-00018|      5/29/1999|
|CUR-2896324|6LO9E9YYFV|    Current|          ?|       6/12/2020| BR-00051|     10/27/1999|
|CUR-5457892|Y4GAJ7OJ24|    Current| 62290433.5|      12/21/2021| BR-00185|      3/28/1996|
|CUR-6107197|8HA6QZT85S|    Current|19947890.66|       6/15/2020| BR-00106|       3/8/2003|
|SAV-6782110|8C11OOEXY0|    Savings|27423315.92|        4/8/2019| BR-00025|      2/20/2002|
|CUR-3738506|YUQBEA83MM|    Current| 2999114.84|       2/17/2021| BR-00153|       3/7/2015|
|SAV-6071086|TVTEEYRAGF|    Savings|54978895.18|        8/6/2021| BR-00179|      6/20/1992|
|BUS-9736317|A9V7MDXUO5|   Business|96248400.32|       5/17/2022| BR-00134|     11/14/2020|
|SAV-6704407|8EHQNW7F5Z|    Savings|87274282.72|      11/21/2022| BR-00088|      8/10/2013|
+-----------+----------+-----------+-----------+----------------+---------+---------------+
only showing top 20 rows

In [278]:
# Specify the path to your CSV file
csv_file_path = "gs://capstondata/customers.csv"

# Read the CSV file into a DataFrame with inferred schema
customers = spark.read.csv(csv_file_path, header=True, inferSchema=True)

# Show the contents of the DataFrame
customers.show()

+-----------+--------------------+--------------------+----------+--------------+
|Customer_id|           Full_Name|      Customer_Email|       dob|Customer_Phone|
+-----------+--------------------+--------------------+----------+--------------+
| V0H084B3FA|         Mahika Gill|mahika.gill@gmail...| 6/23/1993|     785877743|
| 7SI1YKSDMB|        Elakshi Gour|elakshi.gour@outl...| 6/14/1981|    9638371516|
| H0L4L7VHXT|    Tanya Srinivasan|tanyasrinivasan@y...| 3/22/2003|     559420656|
| 6I324KGK08|        Kashvi Saraf|kashvisaraf@yahoo...| 6/27/2001|    4985572504|
| WKJ0VXQFIY|            Piya Ram| piyaram@hotmail.com| 3/31/1994|    5549849574|
| HT4P3N5R38|    Aniruddh Kothari|aniruddhkothari@h...| 4/20/1994|    8609260186|
| Y4EHCD6U3G|           Riya Gala|riya.gala@hotmail...| 8/10/1989|    6947567136|
| KTYHYNJG3Q|    Tarini Sabharwal|tarini.sabharwal@...| 12/3/1973|    7701533431|
| 2N2119NGLF|     Shanaya Sampath|shanaya_sampath@g...|10/29/1988|    4587205438|
| CT2JZ4HB0I|       Hunar Ganesan|hunar_ganesan@gma...|11/15/1975|    2639082834|
| HF5N5ZWXFL|         Anaya Raval|anaya.raval@gmail...|  2/8/1978|    1631824049|
| 4WMWWD3L7C|          Hunar Bhat|hunar_bhat@outloo...| 1/17/1999|    4495192598|
| RIPWSYBXN8|          Mehul Rege|mehul.rege@gmail.com| 2/25/1981|    9384883971|
| 9GXGVJOUV1|     Shanaya Bhavsar|shanayabhavsar@gm...| 7/19/1997|    8437052858|
| WOT5TC8J5V|        Renee Mander|reneemander@yahoo...| 6/13/2004|     958564312|
| U38Z486TPA|        Faiyaz Anand|faiyaz.anand@hotm...| 2/21/1985|    2501299169|
| PYTD6L08D9|     Lakshit Solanki|lakshitsolanki@ya...| 12/5/1971|    2320260635|
| YDS5XC3E0C|      Mohanlal Goyal|mohanlalgoyal@hot...|10/23/1995|    1396783988|
| AB4ANZ6G75|Vardaniya Contractor|vardaniya.contrac...| 7/27/1968|    1157033491|
| AWVATWP59G|      Shayak Krishna|shayak_krishna@ya...| 7/11/1983|    1531277808|
+-----------+--------------------+--------------------+----------+--------------+
only showing top 20 rows

In [279]:
df.printSchema()

root
 |-- AccountId: string (nullable = true)
 |-- CustomerID: string (nullable = true)
 |-- AccountType: string (nullable = true)
 |-- Balance: string (nullable = true)
 |-- last_kyc_updated: string (nullable = true)
 |-- branch_id: string (nullable = true)
 |-- account_created: string (nullable = true)

In [280]:
#REMOVE DUPLICATES
df=df.dropDuplicates()

In [281]:
#dropping entire row if null
df= df.na.drop(subset='AccountId')

In [282]:
df= df.join(customers, col("CustomerID") == col("Customer_id"), how="left")\
       .select('AccountId', 'Customer_id','AccountType', 'Balance', 'last_kyc_updated', 'branch_id', 'account_created')

In [283]:
df.show()

+-----------+-----------+-----------+-----------+----------------+---------+---------------+
|  AccountId|Customer_id|AccountType|    Balance|last_kyc_updated|branch_id|account_created|
+-----------+-----------+-----------+-----------+----------------+---------+---------------+
|CUR-5421058| T09KEB6NAK|    Current|40174182.62|        9/4/2022| BR-00132|       6/9/2015|
|BUS-2480869| N7YBSW74IO|   Business|19396837.38|      11/30/2020| BR-00001|      7/26/2001|
|SAV-8659231| QZZPP38OPK|    Savings|88274879.06|       12/2/2022| BR-00185|      10/2/1985|
|CUR-7107091| Q3E0OUZH11|    Current| 28079282.9|       7/21/2020| BR-00043|      1/30/2019|
|CUR-8563313| 0U5AJPYF2R|    Current|11819827.12|       5/12/2022| BR-00108|       4/3/2001|
|BUS-9750558| HA55ZPB9IF|   Business|21386318.46|       1/10/2019| BR-00122|       3/2/2017|
|BUS-3956882| RYWN8BMLQQ|   Business|54923664.52|       11/7/2021| BR-00180|     12/21/2020|
|BUS-8640431| A9V7MDXUO5|   Business|21650202.11|       8/28/2021| BR-00186|      6/19/2012|
|CUR-9334754| 0BS7DGYMR6|    Current|30570172.14|       9/20/2020| BR-00147|     11/29/2015|
|BUS-8239391| TE531HF5P3|   Business|12763362.72|        3/2/2020| BR-00012|      7/26/2008|
|SAV-3832818| 0L1VKAJNG2|    Savings|32514748.24|       3/10/2020| BR-00050|       6/1/1999|
|SAV-8122993| 71JXPYVNP6|    Savings|29732687.95|      11/30/2022| BR-00175|       3/1/2009|
|CUR-1583105| IDDTVNWCZH|    Current| 97046060.2|       2/26/2022| BR-00033|      6/28/2001|
|BUS-9315798| TC9NBQE2RR|   Business|48031907.45|       3/15/2021| BR-00164|       6/7/2012|
|BUS-8116075| UY6ZXBU3FB|   Business|88397877.17|        6/7/2020| BR-00196|     10/12/1989|
|SAV-3485413| HKYJDXB7FR|    Savings|60843580.04|       9/23/2021| BR-00094|      2/12/2006|
|BUS-9071278| W7XPYGYGXR|   Business|78691981.17|       3/16/2022| BR-00100|       7/2/1991|
|CUR-7595747| X95GL1GXZ8|    Current|82791761.52|       3/20/2022| BR-00111|     10/30/2011|
|BUS-9939155| 9T4JGX8V4W|   Business|50941891.34|       1/17/2020| BR-00137|     12/16/2013|
|BUS-7737688| BOFFQUXGQL|   Business|41805485.41|       6/22/2020| BR-00034|       8/1/2007|
+-----------+-----------+-----------+-----------+----------------+---------+---------------+
only showing top 20 rows

In [284]:
# Calculate the mode of the "AccountType" column
mode_value = df.groupBy("AccountType").count().sort(col("count").desc()).first()["AccountType"]

# Fill null values with the mode
df = df.na.fill(mode_value, subset=["AccountType"])

In [285]:
df= df.na.fill(0, subset=["Balance"])

In [286]:
# Specify the path to your CSV file
csv_file_path = "gs://capstondata/branches.csv"

# Read the CSV file into a DataFrame with inferred schema
branches = spark.read.csv(csv_file_path, header=True, inferSchema=True)

# Show the contents of the DataFrame
branches.show()

+--------+---------+-------------------+----------+
|BranchId|Bank_Name|Branch_Registration| Bank_city|
+--------+---------+-------------------+----------+
|BR-00001|     HDFC|       INBR48747244|  Varanasi|
|BR-00002|     AXIS|       INBR11941555|    Nanded|
|BR-00003|      SBI|       INBR80849249|  Parbhani|
|BR-00004|     HSBC|       INBR48851610|    Ratlam|
|BR-00005|     IDFC|       INBR79215276| Karaikudi|
|BR-00006|     HSBC|       INBR13412552|    Nanded|
|BR-00007|     AXIS|       INBR12827025|    Ratlam|
|BR-00008|     HDFC|       INBR28462915|    Hospet|
|BR-00009|     HSBC|       INBR21050894|  Jamalpur|
|BR-00010|     HSBC|       INBR67066394|  Parbhani|
|BR-00011|     AXIS|       INBR73539041|    Tezpur|
|BR-00012|     HSBC|       INBR68860717| Karaikudi|
|BR-00013|     HDFC|       INBR57531262|   Nellore|
|BR-00014|    ICICI|       INBR67941345|    Tezpur|
|BR-00015|    ICICI|       INBR25228856|   Lucknow|
|BR-00016|     HSBC|       INBR61059225|   Panipat|
|BR-00017|     IDFC|       INBR28331685|   Nellore|
|BR-00018|     AXIS|       INBR25480167|Maheshtala|
|BR-00019|      SBI|       INBR31248977|  Varanasi|
|BR-00020|    ICICI|       INBR51594153| Burhanpur|
+--------+---------+-------------------+----------+
only showing top 20 rows

In [287]:
df= df.join(branches, col("BranchId") == col("branch_id"), how="left")\
       .select('AccountId', 'Customer_id','AccountType', 'Balance', 'last_kyc_updated', 'branch_id', 'account_created')

In [288]:
df.show()

+-----------+-----------+-----------+-----------+----------------+---------+---------------+
|  AccountId|Customer_id|AccountType|    Balance|last_kyc_updated|branch_id|account_created|
+-----------+-----------+-----------+-----------+----------------+---------+---------------+
|CUR-5421058| T09KEB6NAK|    Current|40174182.62|        9/4/2022| BR-00132|       6/9/2015|
|BUS-2480869| N7YBSW74IO|   Business|19396837.38|      11/30/2020| BR-00001|      7/26/2001|
|SAV-8659231| QZZPP38OPK|    Savings|88274879.06|       12/2/2022| BR-00185|      10/2/1985|
|CUR-7107091| Q3E0OUZH11|    Current| 28079282.9|       7/21/2020| BR-00043|      1/30/2019|
|CUR-8563313| 0U5AJPYF2R|    Current|11819827.12|       5/12/2022| BR-00108|       4/3/2001|
|BUS-9750558| HA55ZPB9IF|   Business|21386318.46|       1/10/2019| BR-00122|       3/2/2017|
|BUS-3956882| RYWN8BMLQQ|   Business|54923664.52|       11/7/2021| BR-00180|     12/21/2020|
|BUS-8640431| A9V7MDXUO5|   Business|21650202.11|       8/28/2021| BR-00186|      6/19/2012|
|CUR-9334754| 0BS7DGYMR6|    Current|30570172.14|       9/20/2020| BR-00147|     11/29/2015|
|BUS-8239391| TE531HF5P3|   Business|12763362.72|        3/2/2020| BR-00012|      7/26/2008|
|SAV-3832818| 0L1VKAJNG2|    Savings|32514748.24|       3/10/2020| BR-00050|       6/1/1999|
|SAV-8122993| 71JXPYVNP6|    Savings|29732687.95|      11/30/2022| BR-00175|       3/1/2009|
|CUR-1583105| IDDTVNWCZH|    Current| 97046060.2|       2/26/2022| BR-00033|      6/28/2001|
|BUS-9315798| TC9NBQE2RR|   Business|48031907.45|       3/15/2021| BR-00164|       6/7/2012|
|BUS-8116075| UY6ZXBU3FB|   Business|88397877.17|        6/7/2020| BR-00196|     10/12/1989|
|SAV-3485413| HKYJDXB7FR|    Savings|60843580.04|       9/23/2021| BR-00094|      2/12/2006|
|BUS-9071278| W7XPYGYGXR|   Business|78691981.17|       3/16/2022| BR-00100|       7/2/1991|
|CUR-7595747| X95GL1GXZ8|    Current|82791761.52|       3/20/2022| BR-00111|     10/30/2011|
|BUS-9939155| 9T4JGX8V4W|   Business|50941891.34|       1/17/2020| BR-00137|     12/16/2013|
|BUS-7737688| BOFFQUXGQL|   Business|41805485.41|       6/22/2020| BR-00034|       8/1/2007|
+-----------+-----------+-----------+-----------+----------------+---------+---------------+
only showing top 20 rows

In [289]:
df = df.withColumn("Balance",round( df["Balance"].cast(DecimalType(10,2)),2))

In [290]:
df.show()

+-----------+-----------+-----------+-----------+----------------+---------+---------------+
|  AccountId|Customer_id|AccountType|    Balance|last_kyc_updated|branch_id|account_created|
+-----------+-----------+-----------+-----------+----------------+---------+---------------+
|CUR-5421058| T09KEB6NAK|    Current|40174182.62|        9/4/2022| BR-00132|       6/9/2015|
|BUS-2480869| N7YBSW74IO|   Business|19396837.38|      11/30/2020| BR-00001|      7/26/2001|
|SAV-8659231| QZZPP38OPK|    Savings|88274879.06|       12/2/2022| BR-00185|      10/2/1985|
|CUR-7107091| Q3E0OUZH11|    Current|28079282.90|       7/21/2020| BR-00043|      1/30/2019|
|CUR-8563313| 0U5AJPYF2R|    Current|11819827.12|       5/12/2022| BR-00108|       4/3/2001|
|BUS-9750558| HA55ZPB9IF|   Business|21386318.46|       1/10/2019| BR-00122|       3/2/2017|
|BUS-3956882| RYWN8BMLQQ|   Business|54923664.52|       11/7/2021| BR-00180|     12/21/2020|
|BUS-8640431| A9V7MDXUO5|   Business|21650202.11|       8/28/2021| BR-00186|      6/19/2012|
|CUR-9334754| 0BS7DGYMR6|    Current|30570172.14|       9/20/2020| BR-00147|     11/29/2015|
|BUS-8239391| TE531HF5P3|   Business|12763362.72|        3/2/2020| BR-00012|      7/26/2008|
|SAV-3832818| 0L1VKAJNG2|    Savings|32514748.24|       3/10/2020| BR-00050|       6/1/1999|
|SAV-8122993| 71JXPYVNP6|    Savings|29732687.95|      11/30/2022| BR-00175|       3/1/2009|
|CUR-1583105| IDDTVNWCZH|    Current|97046060.20|       2/26/2022| BR-00033|      6/28/2001|
|BUS-9315798| TC9NBQE2RR|   Business|48031907.45|       3/15/2021| BR-00164|       6/7/2012|
|BUS-8116075| UY6ZXBU3FB|   Business|88397877.17|        6/7/2020| BR-00196|     10/12/1989|
|SAV-3485413| HKYJDXB7FR|    Savings|60843580.04|       9/23/2021| BR-00094|      2/12/2006|
|BUS-9071278| W7XPYGYGXR|   Business|78691981.17|       3/16/2022| BR-00100|       7/2/1991|
|CUR-7595747| X95GL1GXZ8|    Current|82791761.52|       3/20/2022| BR-00111|     10/30/2011|
|BUS-9939155| 9T4JGX8V4W|   Business|50941891.34|       1/17/2020| BR-00137|     12/16/2013|
|BUS-7737688| BOFFQUXGQL|   Business|41805485.41|       6/22/2020| BR-00034|       8/1/2007|
+-----------+-----------+-----------+-----------+----------------+---------+---------------+
only showing top 20 rows

In [291]:
df = df.withColumn("last_kyc_updated",date_format(to_date(col("last_kyc_updated"),"M/d/yyyy"),"MM/dd/yyyy"))

In [292]:
df = df.withColumn("account_created",date_format(to_date(col("account_created"),"M/d/yyyy"),"MM/dd/yyyy"))

In [293]:
df.show()

+-----------+-----------+-----------+-----------+----------------+---------+---------------+
|  AccountId|Customer_id|AccountType|    Balance|last_kyc_updated|branch_id|account_created|
+-----------+-----------+-----------+-----------+----------------+---------+---------------+
|CUR-5421058| T09KEB6NAK|    Current|40174182.62|      09/04/2022| BR-00132|     06/09/2015|
|BUS-2480869| N7YBSW74IO|   Business|19396837.38|      11/30/2020| BR-00001|     07/26/2001|
|SAV-8659231| QZZPP38OPK|    Savings|88274879.06|      12/02/2022| BR-00185|     10/02/1985|
|CUR-7107091| Q3E0OUZH11|    Current|28079282.90|      07/21/2020| BR-00043|     01/30/2019|
|CUR-8563313| 0U5AJPYF2R|    Current|11819827.12|      05/12/2022| BR-00108|     04/03/2001|
|BUS-9750558| HA55ZPB9IF|   Business|21386318.46|      01/10/2019| BR-00122|     03/02/2017|
|BUS-3956882| RYWN8BMLQQ|   Business|54923664.52|      11/07/2021| BR-00180|     12/21/2020|
|BUS-8640431| A9V7MDXUO5|   Business|21650202.11|      08/28/2021| BR-00186|     06/19/2012|
|CUR-9334754| 0BS7DGYMR6|    Current|30570172.14|      09/20/2020| BR-00147|     11/29/2015|
|BUS-8239391| TE531HF5P3|   Business|12763362.72|      03/02/2020| BR-00012|     07/26/2008|
|SAV-3832818| 0L1VKAJNG2|    Savings|32514748.24|      03/10/2020| BR-00050|     06/01/1999|
|SAV-8122993| 71JXPYVNP6|    Savings|29732687.95|      11/30/2022| BR-00175|     03/01/2009|
|CUR-1583105| IDDTVNWCZH|    Current|97046060.20|      02/26/2022| BR-00033|     06/28/2001|
|BUS-9315798| TC9NBQE2RR|   Business|48031907.45|      03/15/2021| BR-00164|     06/07/2012|
|BUS-8116075| UY6ZXBU3FB|   Business|88397877.17|      06/07/2020| BR-00196|     10/12/1989|
|SAV-3485413| HKYJDXB7FR|    Savings|60843580.04|      09/23/2021| BR-00094|     02/12/2006|
|BUS-9071278| W7XPYGYGXR|   Business|78691981.17|      03/16/2022| BR-00100|     07/02/1991|
|CUR-7595747| X95GL1GXZ8|    Current|82791761.52|      03/20/2022| BR-00111|     10/30/2011|
|BUS-9939155| 9T4JGX8V4W|   Business|50941891.34|      01/17/2020| BR-00137|     12/16/2013|
|BUS-7737688| BOFFQUXGQL|   Business|41805485.41|      06/22/2020| BR-00034|     08/01/2007|
+-----------+-----------+-----------+-----------+----------------+---------+---------------+
only showing top 20 rows

In [294]:
df.printSchema()

root
 |-- AccountId: string (nullable = true)
 |-- Customer_id: string (nullable = true)
 |-- AccountType: string (nullable = false)
 |-- Balance: decimal(11,2) (nullable = true)
 |-- last_kyc_updated: string (nullable = true)
 |-- branch_id: string (nullable = true)
 |-- account_created: string (nullable = true)

In [296]:
# Specify the desired file name and path
desired_file_name = "gs://capstondata/silver_layer/Accounts.csv"

# Write the cleaned DataFrame to a CSV file with the desired file name
df.write.csv(desired_file_name, header=True, mode="append")