In [27]:
from pyspark.sql import SparkSession

# Create a Spark session
spark = SparkSession.builder \
        .getOrCreate()

# Read data from a CSV file
file_path = "transactions.csv"
df = spark.read.csv(file_path, header=True, inferSchema=True)

# Show the first few rows of the DataFrame
df.show()

+--------------+-----------+--------------------+----------------+-------------------+--------+
|transaction_id|  AccountID|TransactionOperation|transaction_type|   transaction_date|  Amount|
+--------------+-----------+--------------------+----------------+-------------------+--------+
|    TR-1000001|BUS-9125383|          Withdrawal|           debit|2019-08-15 00:00:00| 23496.3|
|    TR-1000002|BUS-2381560|          Withdrawal|           debit|2017-03-26 00:00:00|87460.96|
|    TR-1000003|BUS-1809830|             Deposit|          credit|2019-09-14 00:00:00|19398.73|
|    TR-1000004|BUS-7691907|          Withdrawal|           debit|2018-09-18 00:00:00|30873.71|
|    TR-1000005|SAV-2508541|            Transfer|          credit|2019-07-20 00:00:00|97272.09|
|    TR-1000006|SAV-9339161|            Transfer|          credit|2019-10-30 00:00:00| 97621.2|
|    TR-1000007|CUR-8975490|          Withdrawal|           debit|2017-08-21 00:00:00|75643.43|
|    TR-1000008|SAV-1231816|            Transfer|           debit|2019-03-14 00:00:00| 19376.5|
|    TR-1000009|SAV-7656787|            Transfer|           debit|2018-08-27 00:00:00|53880.57|
|    TR-1000010|SAV-4221788|            Transfer|          credit|2017-06-26 00:00:00|34627.56|
|    TR-1000011|CUR-3601470|            Transfer|           debit|2019-02-21 00:00:00|34236.93|
|    TR-1000012|BUS-2886637|            Transfer|           debit|2019-05-24 00:00:00|47798.72|
|    TR-1000013|SAV-5277436|             Deposit|          credit|2018-08-05 00:00:00|29820.46|
|    TR-1000014|BUS-3751412|            Transfer|           debit|2019-12-10 00:00:00| 19170.1|
|    TR-1000015|SAV-4551053|            Transfer|          credit|2019-05-07 00:00:00|93803.32|
|    TR-1000016|BUS-9936537|             Deposit|          credit|2018-08-26 00:00:00|72281.25|
|    TR-1000017|BUS-6072824|            Transfer|           debit|2017-11-20 00:00:00| 5953.34|
|    TR-1000018|SAV-4615127|          Withdrawal|           debit|2018-07-02 00:00:00| 29916.7|
|    TR-1000019|CUR-8330094|            Transfer|          credit|2017-06-03 00:00:00|89291.61|
|    TR-1000020|CUR-1968404|            Transfer|          credit|2019-02-15 00:00:00|61280.23|
+--------------+-----------+--------------------+----------------+-------------------+--------+
only showing top 20 rows

In [28]:
# Defining the structure/schema of the data 


from pyspark.sql.types import StructType, StructField, StringType, TimestampType, DoubleType
schema = StructType([
    StructField("transaction_id", StringType(), True),
    StructField("AccountID", StringType(), True),
    StructField("TransactionOperation", StringType(), True),
    StructField("transaction_type", StringType(), True),
    StructField("transaction_date", TimestampType(), True),
    StructField("Amount", DoubleType(), True)
])
df = spark.read.csv(file_path, header=True, schema=schema)

# Show the DataFrame
df.show()

+--------------+-----------+--------------------+----------------+-------------------+--------+
|transaction_id|  AccountID|TransactionOperation|transaction_type|   transaction_date|  Amount|
+--------------+-----------+--------------------+----------------+-------------------+--------+
|    TR-1000001|BUS-9125383|          Withdrawal|           debit|2019-08-15 00:00:00| 23496.3|
|    TR-1000002|BUS-2381560|          Withdrawal|           debit|2017-03-26 00:00:00|87460.96|
|    TR-1000003|BUS-1809830|             Deposit|          credit|2019-09-14 00:00:00|19398.73|
|    TR-1000004|BUS-7691907|          Withdrawal|           debit|2018-09-18 00:00:00|30873.71|
|    TR-1000005|SAV-2508541|            Transfer|          credit|2019-07-20 00:00:00|97272.09|
|    TR-1000006|SAV-9339161|            Transfer|          credit|2019-10-30 00:00:00| 97621.2|
|    TR-1000007|CUR-8975490|          Withdrawal|           debit|2017-08-21 00:00:00|75643.43|
|    TR-1000008|SAV-1231816|            Transfer|           debit|2019-03-14 00:00:00| 19376.5|
|    TR-1000009|SAV-7656787|            Transfer|           debit|2018-08-27 00:00:00|53880.57|
|    TR-1000010|SAV-4221788|            Transfer|          credit|2017-06-26 00:00:00|34627.56|
|    TR-1000011|CUR-3601470|            Transfer|           debit|2019-02-21 00:00:00|34236.93|
|    TR-1000012|BUS-2886637|            Transfer|           debit|2019-05-24 00:00:00|47798.72|
|    TR-1000013|SAV-5277436|             Deposit|          credit|2018-08-05 00:00:00|29820.46|
|    TR-1000014|BUS-3751412|            Transfer|           debit|2019-12-10 00:00:00| 19170.1|
|    TR-1000015|SAV-4551053|            Transfer|          credit|2019-05-07 00:00:00|93803.32|
|    TR-1000016|BUS-9936537|             Deposit|          credit|2018-08-26 00:00:00|72281.25|
|    TR-1000017|BUS-6072824|            Transfer|           debit|2017-11-20 00:00:00| 5953.34|
|    TR-1000018|SAV-4615127|          Withdrawal|           debit|2018-07-02 00:00:00| 29916.7|
|    TR-1000019|CUR-8330094|            Transfer|          credit|2017-06-03 00:00:00|89291.61|
|    TR-1000020|CUR-1968404|            Transfer|          credit|2019-02-15 00:00:00|61280.23|
+--------------+-----------+--------------------+----------------+-------------------+--------+
only showing top 20 rows

In [29]:
#Checking if there are any duplicates in the transaction id 
df.select("transaction_id").distinct().count() == df.count()

True

In [30]:
#Checking if there are any null values in the dataframe
from pyspark.sql.functions import *
null_counts = [df.where(col(c).isNull()).count() for c in df.columns]
null_counts

[0, 0, 0, 0, 0, 0]

In [31]:
# Checking for the types of data
dfs.dtypes

[('transaction_id', 'string'),
 ('AccountID', 'string'),
 ('TransactionOperation', 'string'),
 ('transaction_type', 'string'),
 ('transaction_date', 'timestamp'),
 ('Amount', 'double')]

In [32]:
# Dropping the columns where there are null values in the following columns
df_filtered = df.na.drop(subset=["transaction_id","Amount","AccountId"])

In [33]:
# replacing  the null values with unknown
df_filled = df.fillna("unknown", subset=["TransactionOperation", "transaction_type"])

In [45]:
#converting the string to upper and removing any spaces 

df_transformed = df.withColumn("transaction_type", upper(trim(col("transaction_type"))))
df_transformed = df_transformed.withColumn("TransactionOperation", upper(trim(col("TransactionOperation"))))
df_transformed.show()

+--------------+-----------+--------------------+----------------+-------------------+--------+
|transaction_id|  AccountID|TransactionOperation|transaction_type|   transaction_date|  Amount|
+--------------+-----------+--------------------+----------------+-------------------+--------+
|    TR-1000001|BUS-9125383|          WITHDRAWAL|           DEBIT|2019-08-15 00:00:00| 23496.3|
|    TR-1000002|BUS-2381560|          WITHDRAWAL|           DEBIT|2017-03-26 00:00:00|87460.96|
|    TR-1000003|BUS-1809830|             DEPOSIT|          CREDIT|2019-09-14 00:00:00|19398.73|
|    TR-1000004|BUS-7691907|          WITHDRAWAL|           DEBIT|2018-09-18 00:00:00|30873.71|
|    TR-1000005|SAV-2508541|            TRANSFER|          CREDIT|2019-07-20 00:00:00|97272.09|
|    TR-1000006|SAV-9339161|            TRANSFER|          CREDIT|2019-10-30 00:00:00| 97621.2|
|    TR-1000007|CUR-8975490|          WITHDRAWAL|           DEBIT|2017-08-21 00:00:00|75643.43|
|    TR-1000008|SAV-1231816|            TRANSFER|           DEBIT|2019-03-14 00:00:00| 19376.5|
|    TR-1000009|SAV-7656787|            TRANSFER|           DEBIT|2018-08-27 00:00:00|53880.57|
|    TR-1000010|SAV-4221788|            TRANSFER|          CREDIT|2017-06-26 00:00:00|34627.56|
|    TR-1000011|CUR-3601470|            TRANSFER|           DEBIT|2019-02-21 00:00:00|34236.93|
|    TR-1000012|BUS-2886637|            TRANSFER|           DEBIT|2019-05-24 00:00:00|47798.72|
|    TR-1000013|SAV-5277436|             DEPOSIT|          CREDIT|2018-08-05 00:00:00|29820.46|
|    TR-1000014|BUS-3751412|            TRANSFER|           DEBIT|2019-12-10 00:00:00| 19170.1|
|    TR-1000015|SAV-4551053|            TRANSFER|          CREDIT|2019-05-07 00:00:00|93803.32|
|    TR-1000016|BUS-9936537|             DEPOSIT|          CREDIT|2018-08-26 00:00:00|72281.25|
|    TR-1000017|BUS-6072824|            TRANSFER|           DEBIT|2017-11-20 00:00:00| 5953.34|
|    TR-1000018|SAV-4615127|          WITHDRAWAL|           DEBIT|2018-07-02 00:00:00| 29916.7|
|    TR-1000019|CUR-8330094|            TRANSFER|          CREDIT|2017-06-03 00:00:00|89291.61|
|    TR-1000020|CUR-1968404|            TRANSFER|          CREDIT|2019-02-15 00:00:00|61280.23|
+--------------+-----------+--------------------+----------------+-------------------+--------+
only showing top 20 rows

+--------------+-----------+--------------------+----------------+-------------------+--------+
|transaction_id|  AccountID|TransactionOperation|transaction_type|   transaction_date|  Amount|
+--------------+-----------+--------------------+----------------+-------------------+--------+
|    TR-1000001|BUS-9125383|          WITHDRAWAL|           debit|2019-08-15 00:00:00| 23496.3|
|    TR-1000002|BUS-2381560|          WITHDRAWAL|           debit|2017-03-26 00:00:00|87460.96|
|    TR-1000003|BUS-1809830|             DEPOSIT|          credit|2019-09-14 00:00:00|19398.73|
|    TR-1000004|BUS-7691907|          WITHDRAWAL|           debit|2018-09-18 00:00:00|30873.71|
|    TR-1000005|SAV-2508541|            TRANSFER|          credit|2019-07-20 00:00:00|97272.09|
|    TR-1000006|SAV-9339161|            TRANSFER|          credit|2019-10-30 00:00:00| 97621.2|
|    TR-1000007|CUR-8975490|          WITHDRAWAL|           debit|2017-08-21 00:00:00|75643.43|
|    TR-1000008|SAV-1231816|            TRANSFER|           debit|2019-03-14 00:00:00| 19376.5|
|    TR-1000009|SAV-7656787|            TRANSFER|           debit|2018-08-27 00:00:00|53880.57|
|    TR-1000010|SAV-4221788|            TRANSFER|          credit|2017-06-26 00:00:00|34627.56|
|    TR-1000011|CUR-3601470|            TRANSFER|           debit|2019-02-21 00:00:00|34236.93|
|    TR-1000012|BUS-2886637|            TRANSFER|           debit|2019-05-24 00:00:00|47798.72|
|    TR-1000013|SAV-5277436|             DEPOSIT|          credit|2018-08-05 00:00:00|29820.46|
|    TR-1000014|BUS-3751412|            TRANSFER|           debit|2019-12-10 00:00:00| 19170.1|
|    TR-1000015|SAV-4551053|            TRANSFER|          credit|2019-05-07 00:00:00|93803.32|
|    TR-1000016|BUS-9936537|             DEPOSIT|          credit|2018-08-26 00:00:00|72281.25|
|    TR-1000017|BUS-6072824|            TRANSFER|           debit|2017-11-20 00:00:00| 5953.34|
|    TR-1000018|SAV-4615127|          WITHDRAWAL|           debit|2018-07-02 00:00:00| 29916.7|
|    TR-1000019|CUR-8330094|            TRANSFER|          credit|2017-06-03 00:00:00|89291.61|
|    TR-1000020|CUR-1968404|            TRANSFER|          credit|2019-02-15 00:00:00|61280.23|
+--------------+-----------+--------------------+----------------+-------------------+--------+
only showing top 20 rows